.chat {
    display: flex;
    margin: 3%; 
    max-height: 500px;
}
.chat > div {
}
.chat h3 {
    margin: 0;
    padding: 2vh;
}

.chat > div {
    border: 1px solid black;
}
.chat div:nth-child(1) {
    flex: 1;
}
.chat div:nth-child(2) {
    flex: 3;
    overflow-y: auto;
}
.messages {
}
.chat-box {
    position: relative;
    text-align: left;
    box-sizing: border-box;
}
.chat-box input {
    box-sizing: border-box;
    margin-bottom: 2%;
}
.chat-box input:nth-child(1) {
    width: 40%;
}
.input-msg {
    width: 100%;
}
