.form {
    max-width: 220px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
.form * {
    display: block;
}
.form input {
    padding: 5%;
    margin: 4% auto;
}
.auth-header {
    padding-bottom: 3%;
}
.err {
    color: red;
}
