.form {
    max-width: 220px;
    width: 100%;
    margin: 0 auto;
}
.form * {
    display: block;
}
.form input {
    padding: 5%;
    margin: 4% auto;
}
.form input:nth-child(5) {
    padding: 5%;
}
.center {
    padding: 5%;
}
.center > h2 {
    text-align: center;    
    padding-bottom: 3%;
}
.err {
    color: red;
}
